doctype html
html
  head
    meta(charset='utf-8')
    title node.js pug server

  body
    h1 Serving up static files like they were turtles strapped to rockets.

    img(src='./img/turtle.png' alt='turtle')
